version 5.251.0

framework: auto-detect

group Fable.Extras
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Browser.MediaQueryList ~> 1
    nuget Fable.Browser.Navigator ~> 1
    nuget Fable.Browser.Url ~> 1
    nuget Fable.Core ~> 3
    nuget Fable.Fetch ~> 2
    nuget Fable.Promise ~> 2
    nuget Fable.SimpleHttp ~> 3
    nuget FSharp.Core >= 4.7.2 lowest_matching: true

group Fable.Extras.Tests
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Core ~> 3
    nuget Fable.Jester ~> 0
    nuget Fable.FastCheck ~> 0
    nuget Fable.FastCheck.Jest ~> 0
    nuget FSharp.Core >= 4.7.2 lowest_matching: true

group Fable.Generator.MIME
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json
    
    nuget Fake.IO.FileSystem ~> 5
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget FSharp.Data ~> 3
    
    http https://www.iana.org/assignments/media-types/application.csv
    http https://www.iana.org/assignments/media-types/audio.csv
    http https://www.iana.org/assignments/media-types/font.csv
    http https://www.iana.org/assignments/media-types/image.csv
    http https://www.iana.org/assignments/media-types/message.csv
    http https://www.iana.org/assignments/media-types/model.csv
    http https://www.iana.org/assignments/media-types/multipart.csv
    http https://www.iana.org/assignments/media-types/text.csv
    http https://www.iana.org/assignments/media-types/video.csv

group Tooling
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Fake.IO.FileSystem ~> 5
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget Yarnpkg.Yarn ~> 1

group FakeBuild
	source https://api.nuget.org/v3/index.json

    nuget BlackFox.CommandLine ~> 1
	nuget Fake.Core.Target ~> 5
	nuget Fake.Core.ReleaseNotes ~> 5
	nuget Fake.DotNet.AssemblyInfoFile ~> 5
	nuget Fake.DotNet.Cli ~> 5
	nuget Fake.DotNet.MSBuild ~> 5
	nuget Fake.DotNet.Paket ~> 5
	nuget Fake.IO.FileSystem ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
	nuget Fake.JavaScript.Npm ~> 5
	nuget Fake.Tools.Git ~> 5
    nuget FSharp.Core ~> 4.7
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget NuGet.Packaging 5.6
